<%
    let type = "post";
    if (is_home()) type = "index";
    if (is_post() || is_page()) type = "post";
    if (is_category() || page.type === "categories") type = "categories";
    if (is_tag() || page.type === "tags") type = "tags";
    if (is_archive()) type = "archives";
    let title = config.title;
    if (is_home()) title = config.title;
    if (is_post() || is_page()) title = config.title;
    if (is_category()) title = "Categories: " + page.category + " | " + config.title;
    if (is_tag()) title = "Tags: " + page.tag + " | " + config.title;
    if (is_archive()) title = "Archives | " + config.title;

    let is_profilo = 0
    if (is_current("profilo")) is_profilo = 1
%>
<!DOCTYPE html>
<html lang="<%- config.language %>">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="author" content="<%- config.author %>" />
    <meta name="description" content="<%- config.description %>" />
    <meta name="keywords" content="<%- config.keywords %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="icon" href="<%- url_for(theme.avatar) %>" />
    <%- partial("import", { type }) %>
</head>
<body>
    <div id="layout">
        <transition name="fade">
            <div id="loading" v-show="loading">
                <div id="loading-circle">
                    <h2>" LOADING... "</h2>
                    <p>In solitude, where we are least alone.</p>
                    <img src="<%- url_for(theme.loading) %>" />
                </div>
            </div>
        </transition>
        <% if (is_profilo === 1) { %>
        <% if (theme.card.enable) { %>
        <div id="main" :class="loading ? 'into-enter-from': 'into-enter-active'">
            <div id="home-posts-wrap" <%- theme.card.enable || 'class="home-posts-wrap-no-card"' %> ref="homePostsWrap">
                <div id="home-posts">
                    <div class="post">
                        <h1>Xiang Yangcheng</h1>
                        Liangwang Ruan è–—Ç‰ 
I'm currently a fourth-year Ph.D student from School of Computer Science, Peking University, advised by Prof. Baoquan Chen. I also got my Bachelor's degree in Computer Science from Peking University in 2021. I'm interested in developing new simulation techniques for all kinds of nature phenomena including fluids, solids, clothes and their interactions.
 ruanliangwang@pku.edu.cn Resume Blog
Publications

MiNNIE: a Mixed Multigrid Method for Real-time Simulation of Nonlinear Near-Incompressible Elastics
Liangwang Ruan , Bin Wang, Tiantian Liu, Baoquan Chen, December 2024 In SIGGRAPH Asia

A Vortex Particle-on-Mesh Method for Soap Film Simulation
Ningxiao Tao, Liangwang Ruan , Yitong Deng, Bo Zhu, Bin Wang, Baoquan Chen, August 2024 In SIGGRAPH

Position-based Surface Tension Flow
Jingrui Xing*, Liangwang Ruan* , Bin Wang, Bo Zhu, Baoquan Chen (* for joint first authors), November 2022 In SIGGRAPH Asia

Solid-Fluid Interaction with Surface-Tension-Dominant Contact
Liangwang Ruan* , Jinyuan Liu*, Bo Zhu, Shinjiro Sueda, Bin Wang, Baoquan Chen (* for joint first authors), August 2021 In SIGGRAPH

                    </div>
                    <!-- <%- partial("posts") %> -->
                    <!-- <%- partial("current") %> --> 
                </div>
                <% if (theme.card.enable) { %>
                <div id="home-card">
                    <%- partial("card") %>
                </div>
                <% } %>
            </div>
        </div>
        <% } %>
        <% } else { %>
        <%- partial("menu") %>
        <div id="main" :class="loading ? 'into-enter-from': 'into-enter-active'">
            <%- partial(type) %>
            <%- partial("footer") %>
        </div>
        <% } %>
        <% if (theme.preview.enable) { %>
        <transition name="fade">
            <div id="preview" ref="preview" v-show="previewShow">
                <img id="preview-content" ref="previewContent" />
            </div>
        </transition>
        <% } %>
    </div>
    <canvas id="fireworks" style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; pointer-events: none; z-index: 32767"></canvas>
    <script src="https://s4.zstatic.net/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="/js/fireworks.min.js"></script>
    <canvas id="background" style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; pointer-events: none; z-index: -1"></canvas>
    <script src="/js/background.min.js"></script>
    <script src="<%- url_for("/js/main.js") %>"></script>
    <% if (type === "post" && page.comments) { %>
    <%- partial("comment") %>
    <% } %>
</body>
</html>
