<%
    let type = "post";
    if (is_home()) type = "index";
    if (is_post() || is_page()) type = "post";
    if (is_category() || page.type === "categories") type = "categories";
    if (is_tag() || page.type === "tags") type = "tags";
    if (is_archive()) type = "archives";
    let title = config.title;
    if (is_home()) title = config.title;
    if (is_post() || is_page()) title = config.title;
    if (is_category()) title = "Categories: " + page.category + " | " + config.title;
    if (is_tag()) title = "Tags: " + page.tag + " | " + config.title;
    if (is_archive()) title = "Archives | " + config.title;

    let is_profilo = 0
    if (is_current("profilo")) is_profilo = 1
%>
<!DOCTYPE html>
<html lang="<%- config.language %>">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="author" content="<%- config.author %>" />
    <meta name="description" content="<%- config.description %>" />
    <meta name="keywords" content="<%- config.keywords %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="icon" href="<%- url_for(theme.avatar) %>" />
    <%- partial("import", { type }) %>
</head>
<body>
    <div id="layout">
        <transition name="fade">
            <div id="loading" v-show="loading">
                <div id="loading-circle">
                    <h2>" LOADING... "</h2>
                    <p>In solitude, where we are least alone.</p>
                    <img src="<%- url_for(theme.loading) %>" />
                </div>
            </div>
        </transition>
        <% if (is_profilo === 1) { %>
        <% if (theme.card.enable) { %>
        <div id="main" :class="loading ? 'into-enter-from': 'into-enter-active'">
            <div id="home-posts-wrap" <%- theme.card.enable || 'class="home-posts-wrap-no-card"' %> ref="homePostsWrap">
                <div id="home-posts">
                    <div style="font-size: 1.3em;">
                        <div>
                            <h1>Xiang Yangcheng</h1>
                        </div>
                        <div class="info">
                            <span class="date"><span class="icon"><i class="fa-solid fa-calendar fa-fw"></i></span>2025/3/1 </span>
                        </div>
                        <div class="content">
                            <p>
                                Hi~ there👋
                            </p>
                            <p>
                                I'm a 2nd year master student at <a target="_blank" rel="noopener" href="https://www.ist.hokudai.ac.jp/labo/ime/">Laboratory of Information Media Environment</a> of Hokkaido University, majoring in Phyiscs-based Simulation, fortunately advised by Prof. <a target="_blank" rel="noopener" href="https://imelab.sakura.ne.jp/doba/index.html">Yoshinori Dobashi</a>.
                                I'm now also working as a research intern at  <a target="_blank" rel="noopener" href="https://ieg.tencent.com/">IEG, Tencent Games</a>, adviced by <a target="_blank" rel="noopener" href="https://lwkobe.github.io">Wei Li</a>, working on Physics-based Deep Learning.
                                Before that, I received my B.S. degree from <a target="_blank" rel="noopener" href="https://it.bjfu.edu.cn/">the School of Information Science &amp; Technology, Beijing Forestry University</a> in 2021, majoring in Computer Graphics.
                                I worked as a Game Physics Engine R&D at <a target="_blank" rel="noopener" href="https://www.tencentgames.com/">Tencent Games</a> and <a target="_blank" rel="noopener" href="https://www.perfectworld.com/">Perfect World Games</a> from 2021 ~ 2023.
                            </p>
                            <!-- <p>Currently, my reserch interests center in physics-based animation, mainly in Fluid Simulation and High Performance Computing. </p> -->



                            <p>
                                I'm a BIG Computer Graphics enthusiast, especially in <strong style="text-decoration: underline;">Differentiable Physics-based Simulation</strong> and <strong style="text-decoration: underline;">Physics Informed Neural Networks (PINNs)</strong>. My research aim is to 
                                <span style="text-decoration: underline; font-style: italic;">realistically reproduce beautiful natural phenomena on computer screens by applying computer graphics techniques</span>.
                                In my spare time, I'm also an amateur VOCALOID music producer, mainly using <a target="_blank" rel="noopener" href="https://ec.crypton.co.jp/pages/prod/virtualsinger/mikunt">Hatsune Miku</a>.
                            </p>

                            <blockquote>
                                <p>
                                    Currently, my research interests center in:
                                    <ul>
                                        <li>Physics-based Deep Learning</li>
                                        <li>Differentiable Fluid/Cloth Simulation</li>
                                        <li>Physics Informed Complex Scene Recognition</li>
                                    </ul>
                                </p>
                            </blockquote>

                            <strong style="color: #990000; text-decoration: underline;">
                                Now, I'm applying for a PhD position in physics-based simulation.
                            </strong>
                            
                            <p>
                                <span class="icon-link"> Feel free to <i class="fa-solid fa-download fa-fw"></i><a target="_blank" rel="noopener" href="/files/xayah-cv-ac.pdf">Download my résumé</a> or reach me out at <i class="fa-solid fa-envelope fa-fw"></i><a target="_blank" rel="noopener" href="mailto:ycxiang14sep@gmail.com">ycxiang14sep@gmail.com</a>  </span>
                            </p>

                            <p style="display: flex; align-items: center;">
                                <img src="/images/Hokkaido_University_logo.svg" style="height: 3em;">
                                <img src="/images/bfu.png" style="height: 3em;">
                                <img src="/images/tencent.png" style="height: 3em;">
                                <img src="/images/perfect-world.png" style="height: 3em;">
                            </p>
                        </div>
                    </div>
                    <!-- <div class="post">
                        <h1>Publications</h1>
                    </div>
                    <div class="post">
                        <h1>Projects</h1>
                    </div> -->
                    <!-- <div class="post"> -->
                    <!-- <%- partial("posts") %> -->
                    <!-- <%- partial("current") %> --> 
                </div>
                <% if (theme.card.enable) { %>
                <div id="home-card">
                    <%- partial("card") %>
                </div>
                <% } %>
            </div>
        </div>
        <% } %>
        <% } else { %>
        <%- partial("menu") %>
        <div id="main" :class="loading ? 'into-enter-from': 'into-enter-active'">
            <%- partial(type) %>
            <%- partial("footer") %>
        </div>
        <% } %>
        <% if (theme.preview.enable) { %>
        <transition name="fade">
            <div id="preview" ref="preview" v-show="previewShow">
                <img id="preview-content" ref="previewContent" />
            </div>
        </transition>
        <% } %>
    </div>
    <canvas id="fireworks" style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; pointer-events: none; z-index: 32767"></canvas>
    <script src="https://s4.zstatic.net/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="/js/fireworks.min.js"></script>
    <canvas id="background" style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; pointer-events: none; z-index: -1"></canvas>
    <script src="/js/background.min.js"></script>
    <script src="<%- url_for("/js/main.js") %>"></script>
    <% if (type === "post" && page.comments) { %>
    <%- partial("comment") %>
    <% } %>
</body>
</html>
